.benefits-section {
  margin-left: 7%;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
}

.benefits-section div {
  width: 37%;
}

.benefits-section div dl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: auto;
}

.benefits-section div dl div .back-img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #6D4C41;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-section div dl div .wrapper-dtdd {
  display: block;
}

.benefits-section div dl div .wrapper-dtdd dt {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.5rem;
}

.benefits-section div dl div .wrapper-dtdd dd {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.2rem;
  color: #bb988c;
}

.img-product {
  position: relative;
  background-image: url(../assets/img/family-sofa.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80vh;
  min-width: 70rem;
  width: 55%;
}

.img-product .main-logo {
  width: 7%;
  position: absolute;
  left: 2%;
  top: 2%;
}

.img-product .product-card {
  width: 30%;
  position: absolute;
  top: 36%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-product .product-card:hover {
  -webkit-transform: scale(1.3) translate(-50%, -50%);
          transform: scale(1.3) translate(-50%, -50%);
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.img-product div {
  position: absolute;
  right: 2%;
  top: 2%;
  text-align: end;
}

.img-product div .family-text {
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.img-product div .interior-text {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.5rem;
}

.logo-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  background-color: #f7f7f7;
  margin-top: 3rem;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
}

.main-form label {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.5rem;
  padding-top: 2rem;
}

.main-form select {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.3rem;
  width: 100%;
  height: 5.5rem;
  padding-left: 2rem;
  background-color: gainsboro;
}

.main-button {
  height: 5.5rem;
  width: 21rem;
  background-color: #6D4C41;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 2.5rem;
  border: none;
  color: white;
  margin-top: 2.8rem;
}

.main-button:hover {
  background-color: #4d362e;
  cursor: pointer;
}

.main-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.main-navigation {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
  font-size: 2.5rem;
  color: #302E2C;
}

.wrapper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8rem;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #d3d0d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  gap: 5rem;
}

.main-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #302E2C;
  text-transform: capitalize;
}

.main-title span {
  color: #6D4C41;
}
/*# sourceMappingURL=main.css.map */