.end-section{
    display: flex;
    margin-top: 8rem;
    justify-content: space-around;
    .wrapper-description{
        width: 30%;
        @include normal-font;
        font-size: 3rem;
        color: #858585;
    }
    li{
        @include normal-font;
        font-size: 2rem;
        color: #858585;
        &:first-child{
            color: #000;
            font-weight: 700;
        }
        .wrapper-img{
            display: flex;
            gap:1.6rem;
        }
    }
    
}
