.img-product{
    position: relative;
    background-image: url(../assets/img/family-sofa.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
    width: 100%;
    min-width: 60rem;
    max-width: 80rem;
    max-height: 60rem;

    .main-logo{
        width: 7%;
        position: absolute;
        left: 2%;
        top: 2%;
    }
    .product-card{
        width: 30%;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%,-50%);
        &:hover{
            transform: scale(1.3) translate(-50%,-50%);
            transition: 150ms linear;
        }
    }
    div{
        position: absolute;
        right: 2%;
        top:2%;
        text-align: end;
        .family-text{
            @include bold-font;
            font-size: 3rem;
        }
        .interior-text{
            @include normal-font;
            color: #787878;
            font-size: 2.5rem;
        }
    }
}